<% @corpus_entries = CorpusEntry.page(params[:page]) %>

<div class="container-fluid">  
  <div id="about_jumbotron" class="jumbotron">
    <h1 id="about_heading">The Corpus Explorer</h1>
    <p id="about_text">A university corpus of student documents from the technical communication field.</p>
  </div>
  <p>Total Entries <%= CorpusEntry.count =%></p>
    <div class="row">
    <div class="col-lg-7 col-lg-offset-1">
  <div class="input-group">
    <div class="form-inline"><%= form_tag(corpus_entries_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: 'form-control' %></div>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: 'btn btn-default' %>
    </span>
  <% end %>
  </div>
</div>
    <% if @corpus_entries.present? %>
    <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
    <% end %>
  </div>

  <div class="row">
    <% @corpus_entries.each do |corpus_entry| %>
          <div class="panel">
           <div class="row">
            <div class="col-xs-12 col-lg-12">
              <h4><%= corpus_entry.entry_number %>
              <%= corpus_entry.genre %>
              <%= corpus_entry.format %></h4>
            </div>
           </div>
           <div class="row">
            <div class="col-xs-6 col-lg-4">
              <h5><%= corpus_entry.deliverable %></h5>
              <p><%= corpus_entry.classification %></p>
              <p><%= corpus_entry.deadline %> deadline</p>
              <p>Grade <%= corpus_entry.grade %></p>
            </div>
            <div class="col-xs-6 col-lg-4">
              <h5><%= corpus_entry.student_level %> student</h5>
              <p>Major <%= corpus_entry.student_major %></p>
              <p>Age <%= corpus_entry.student_age %></p>
              <p>Gender <%= corpus_entry.student_gender %></p>
              <p>Ethnicity <%= corpus_entry.student_ethnicity %></p>
            </div>
            <div class="col-xs-12 col-lg-4">
              <h5>Course <%= corpus_entry.course_number %> Section <%= corpus_entry.course_section %></h5>
              <p>Instructor <%= corpus_entry.instructor %></p>
              <p><%= corpus_entry.course_day %> <%= corpus_entry.course_time %>, <%= corpus_entry.course_year %></p>           
            </div> 
           </div>
          </div>
      <% end %>
  </div>
  <%= will_paginate @corpus_entries %>
</div>

                   