<%= form_for @corpus_entry, html: { multipart: true } do |f| %>
  <% if @corpus_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corpus_entry.errors.count, "error") %> prohibited this corpus_entry from being saved:</h2>

      <ul>
      <% @corpus_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :entry_number %><br>
    <%= f.text_field :entry_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :genre %><br>
    <%= f.text_field :genre, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :deliverable %><br>
    <%= f.text_field :deliverable, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :classification %><br>
    <%= f.text_field :classification, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %><br>
    <%= f.text_field :deadline, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :format %><br>
    <%= f.text_field :format, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :grade %><br>
    <%= f.text_field :grade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :instructor %><br>
    <%= f.text_field :instructor, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :student_level %><br>
    <%= f.text_field :student_level, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :student_major %><br>
    <%= f.text_field :student_major, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :student_gender %><br>
    <%= f.text_field :student_gender, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :student_age %><br>
    <%= f.text_field :student_age, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :student_language %><br>
    <%= f.text_field :student_language, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :student_ethnicity %><br>
    <%= f.text_field :student_ethnicity, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :course_number %><br>
    <%= f.text_field :course_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :course_section %><br>
    <%= f.text_field :course_section, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :course_day %><br>
    <%= f.text_field :course_day, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :course_time %><br>
    <%= f.text_field :course_time, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :course_year %><br>
    <%= f.number_field :course_year, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :document %>
    <%= f.file_field :document, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
