<div class="container-fluid">  
  <div id="explore_jumbotron" class="jumbotron">
    <h1 id="explore_heading">The Corpus Explorer</h1>
    <p id="explore_text">A university corpus of <%= CorpusEntry.count %> student documents from the technical communication field.</p>
  </div>

  <div class="row">
    <div class="col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
      <%= will_paginate @corpus_entries %>
      <%= form_tag(corpus_entries_path, :method => "get") do %>
      <div class="form-inline">
        <div class="form-group">
          <%= text_field_tag :query, params[:search_by_whole_corpus], placeholder: "Search Corpus", :class => "form-control", :id => "search_by_whole_corpus" %>
        </div>
        <div class="form-group">
          <%= submit_tag "Search", :class => "btn btn-primary", :id => "search_button" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3 col-lg-3">
        <div id="filter_panel" class="panel panel-default">
        <div class="panel-body">
          <%= form_for(:student_level, :method => 'get') do |f| %>
          <h5>Genre</h5>
            <div class="form-group">
              <%= select_tag(:query, options_for_select([['Brochure', 'Brochure'], ['Case study', 'Case study'], ['Composition', 'Composition'], ['Correspondence', 'Correspondence'], ['ePortfolio', 'ePortfolio'], ['Essay', 'Essay'], ['Job Materials', 'Job Materials'], ['Presentation', 'Presentation'], ['Procedures', 'Procedures'], ['Proposal', 'Proposal'], ['Report', 'Report']]), :multiple => true, :class => "form-control", :id => "genre_filter") %>
            </div>
          <h5>Classification</h5>
            <div class="form-group">
              <%= select_tag(:query, options_for_select([['Academic', 'Academic'], ['Technical', 'Technical']]), :multiple => true, :class => "form-control", :id => "classification_filter") %>
            </div>
          <h5>Student</h5>
            <div class="form-group">
              <%= select_tag(:query, options_for_select([['Freshman', 'Freshman'], ['Sophomore', 'Sophomore'], ['Junior', 'Junior'], ['Senior', 'Senior'], ['Graduate', 'Graduate'], ['Doctorate', 'Doctorate']]), :multiple => true, :class => "form-control", :id => "student_level_filter") %>
            </div>
          <h5>File</h5>
            <div class="form-group">
              <%= select_tag(:query, options_for_select([['DOC', 'DOC'], ['DOCX', 'DOCX'], ['PDF', 'PDF'], ['HTML', 'HTML'], ['PPT', 'PPT'], ['Blog', 'Blog']]), :multiple => true, :class => "form-control", :id => "format_filter") %>
            </div>
            <div class="form-group">
              <%= submit_tag "Go", :class => "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
        <div class="col-sm-12 col-md-9 col-lg-9">
        <% @corpus_entries.each do |corpus_entry| %>
          <div class="panel">
           <div id="entry_row_heading" class="row">
            <div class="col-xs-12 col-lg-12">
              <ul id="entry_heading">
                <li id="entry_link"><%= link_to corpus_entry.deliverable, corpus_entry %><span id="entry_year"><%= corpus_entry.course_year %></span></li>              
              </ul>
            </div>
           </div>
           <div class="row">
             <div class="panel-body">
            <div class="col-xs-6 col-md-3 col-lg-3">
              <div class="deliverable_group">
                <p><strong>Genre: </strong><%= corpus_entry.genre %></p>
              </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
              <p><strong>Classification: </strong><%= corpus_entry.classification %></p>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
              <p><strong>Student: </strong><%= corpus_entry.student_level %></p>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
              <% if corpus_entry.document.present? %>
                <p><%= link_to corpus_entry.format, corpus_entry.document.url %></p>
              <% else %>
                <p><%= corpus_entry.format %></p>
              <% end %>
            </div> 
           </div>
          </div>
          </div>
      <% end %>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
      <%= will_paginate @corpus_entries %>
    </div>
  </div>
</div>

                   