<%= image_tag @corpus_entry.document.url %>

<p>
  <strong>Entry number:</strong>
  <%= @corpus_entry.entry_number %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @corpus_entry.genre %>
</p>

<p>
  <strong>Deliverable:</strong>
  <%= @corpus_entry.deliverable %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @corpus_entry.classification %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @corpus_entry.deadline %>
</p>

<p>
  <strong>Format:</strong>
  <%= @corpus_entry.format %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @corpus_entry.grade %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @corpus_entry.instructor %>
</p>

<p>
  <strong>Student level:</strong>
  <%= @corpus_entry.student_level %>
</p>

<p>
  <strong>Student major:</strong>
  <%= @corpus_entry.student_major %>
</p>

<p>
  <strong>Student gender:</strong>
  <%= @corpus_entry.student_gender %>
</p>

<p>
  <strong>Student age:</strong>
  <%= @corpus_entry.student_age %>
</p>

<p>
  <strong>Student language:</strong>
  <%= @corpus_entry.student_language %>
</p>

<p>
  <strong>Student ethnicity:</strong>
  <%= @corpus_entry.student_ethnicity %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @corpus_entry.course_number %>
</p>

<p>
  <strong>Course section:</strong>
  <%= @corpus_entry.course_section %>
</p>

<p>
  <strong>Course day:</strong>
  <%= @corpus_entry.course_day %>
</p>

<p>
  <strong>Course time:</strong>
  <%= @corpus_entry.course_time %>
</p>

<p>
  <strong>Course year:</strong>
  <%= @corpus_entry.course_year %>
</p>

<%= link_to 'Edit', edit_corpus_entry_path(@corpus_entry) %> |
<%= link_to 'Back', corpus_entries_path %>
